.Person {
    width:  60%;
    margin: auto;
    border: 1px solid lightblue;
    padding: 16px;
    box-shadow: 0px 2px 3px darkcyan;
    text-align: center;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}